<br><%= link_to 'Back to Tasklist', '/tasklists' %>
<br><%= link_to 'New Task', '/tasks/new' %>


<% if current_user %>
  <% @tasks.each do |task| %>
    <% if task.tasklist_id == current_user.tasklists.first.id %>
      <h3><%= link_to task.title, task_path(task.id) %></h3>
      <hr>
    <% end %>
  <% end %>
<% end %>


